section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #352c2c;
}

.cont{
    width: 100%;
    max-width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.inner {
    width: 90%;
    text-align: center;
    background: rgb(0 0 0 / 20%);
    padding: 100px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: relative;
}

h1 {
    font-size: 3.6rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.lotto-numbers {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #fff;
    font-size: 2.3rem;
    padding: 6px 0 2px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball {
    width: 70px;
    height: 70px;
    background: radial-gradient(circle, #fff, #ffd700);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.ball span {
    width: 100%;
    height: 100%;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball:hover {
    transform: scale(1.1);
}

button {
    width: 60%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: #ff5722;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 2rem;
}

button:hover {
    background: #e64a19;
}